<html>
    <head>
    <title></title>
    </head>
    <body>
        <h1>Hi User</h1>
        <h2 style="color:red">{{.Error}}</h2>
        <h2 style="color: green">{{.Success}}</h2>
        <form action="/follow" method="get">
            <button type="submit">Follow</button>
        </form>
        <form action="/unfollow" method="get">
            <input type="submit" value="Unfollow">
         </form>
         <form action="/followers" method="get">
            <input type="submit" value="Followers">
        </form>
         <form action="/feed" method="get">
            <input type="submit" value="Feed">
          </form>
         <form action="/signout" method="post">
            <input type="submit" value="Signout">
          </form>
          <form action="/tweet" method="post">
            Enter text:<input type="textarea" name="tweet" maxlength="256">
            <input type="submit" value="Tweet">
          </form>
          <p>
            {{.Feed}}
          </p>
    </body>
</html>